{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}


{% block main %}
    <div class="container">
        <div class="mr-auto text-left">
            <h2>Find the anime with a still image from any episode in it</h2>
            <p>this website takes an image and compares it to a large amount of frames from various episodes of various anime</p>
        </div>
    </div>
    <div class="mx-auto">
        <img src="static/Images/screenshot2.png" width="300">
    </div>


{% endblock %}